.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
}

.logo {
    width: 10%;
}

#image {
    width: 70%;
    margin-left: 20%;
}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}